
body
{
	background-image: url("../img/agsquare.png");
	background-repeat:repeat;
}

#content {	
	width: 750px;
	border: #E0E0E0 1px solid;
	background-color: #F8F8F8;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding-left: 10px;
	overflow: auto;
}

.item {
    width: 736px;
    min-height: 40px;
    border: 1px solid;
    padding: 10px;
    box-sizing: border-box;
}

.item .name {
	display: block;
    font-weight: bold;  
    font-size: 18px;
}

.item small {
    font-weight: normal;
    font-size: 50%;
    margin-left: 10px;
}

.item .message {
    font-size: 16px;
}